li {
    display: inline;
    float: left;
}

li a {
    display: block;
    color: white;
    text-decoration: solid;
    text-align: center;
}
a text{
    text-align: center;
}

li a:hover {
    background-color: yellow;
    color:red;
}
a{
    display: block;
    padding: 20px;
    background-color: black;
    text-decoration: none;
    color: #0066c0;
}
nav{
    color: red;
    word-spacing: 300%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    background-color: black;
    padding: 10px;
    height: 400px;
    color: #e1dfdf;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.footer-container{
    background-color: #212329;
    padding: 4rem;
}
.footer-heading{
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    justify-content: center;
    align-items: center;
    position:relative;
}
.footer-heading h2 {
    margin-bottom: 2rem;
}
.footer-heading a:hover{
    color: red;
    transition: 0.3s ease-out;
}
.footer-heading a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}
#footer-email-form{
    width: 250px;
    height: 40px;
    border-radius: 4px;
    padding-left: 15.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    outline-color: red;
    padding-right: 30px;
    margin: 10px;
    padding: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    justify-content: center;
    text-align: left;
    
}
#footer-email::placeholder{
    color: rgb(0, 0, 0);
}

#footer-email-btn{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: red;
}
.topnav {
overflow: hidden;
background-color: #333;
}
  
.topnav a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
  
.topnav a:hover {
background-color: #ddd;
color: black;
}
.content {
background-color: black;
padding: 1000px;
height: 1500px; 
background-image: url(./images/miami-heat.jpg);
}
.rim-image{
    background-image: url(./images/shot.jpg);
    height:60px;
    background-repeat: repeat;
    background-size:contain;
    position: relative;
}
.rim-text{
    text-align: center;
    color: white;
}
#sign-in-btn{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: black;
    margin-left: 50px;
    color: white;
    margin-top: 20px;
}
.first{
    color: white;
    margin-bottom: 10px;
    height: 30px;
    text-align: center;
}
.last{
    color: white;
    height: 30px;
    text-align: center;
}
.content{
    text-align: center;
    color: white;
}
.eye{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 10px;
}
.icon{
    color: red;
    float:left;
    padding: 20px;
    word-spacing: 10px;
    background-color: white;
}
.Us{
    outline: white;
    border-radius: 20px;
    background-color: red;
    color: white;
    padding: 12px;
    outline-style: groove;
    margin-top: 11px;
    float: left;
    margin-left: 10px;
}
.center{
    color: #050404;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    width: 150px;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 160px;
    height:95px;
    margin-top: 15px;
    border-radius: 10px;
}
.use{
    background-color: white;
    padding: 0px;
    display: inline-block;
    white-space: nowrap;
}
.notice{
    background-color: white;
    padding: 0px;
    display: inline-block;
    white-space: nowrap;
}
.card{
    width: 510px;
    height: 490px;
    padding: 20px 26px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid #030202;
    margin: 20px auto 25px auto;
    border-radius: 10px;
    align-items: center;
   
}
.sign{
    color: white;
    padding: 10px;
    font-size: larger;
    float: left;
    margin-top: 5px;
}
.card h1{
    font-weight: 400;
    font-size: 28px;
}
.card label{
    font-size: 13px;
    padding-left: 2px;
    padding-bottom: 2px;
    font-weight: 700;
}
.card input{
    width: 272px;
    height: 25px;
    padding: 3px 7px;
    margin-top: 3px;
    background-color: #fff;
    border: 1px solid red;
    border-radius: 10px;
    text-align: center;
}
.pro{
    color: white;
    width: 250px;
    height: 30px;
    padding: 3px 7px;
    margin-top: 10px;
    border: 1px solid black;
    background-color: green;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    outline-style: groove;
    
}
.list-item3{
    text-align: center;
    background-color: white;
    padding-top: 40px;
}
.card p,.card p a{
    font-size: 12px;
    line-height: 1.5;
}
.icon::before{
    display: inline-block;
    content: "";
    border-top: 4px solid transparent;
    border-left: 4px solid red;
    border-bottom: 4px solid transparent;
    margin-right: 10px;
}
form{
    text-align: center;
}
.card a{
    font-size: 13px;
}
.logo span{
    margin: 10px;
    font-size: 14px;
}
.text{
    color: #ddd;
}
.col-2{
    color: red;
    text-align: center;
}
.col-3{
    color: red;
    text-align: right;
}
.col-1{
    color: red;
    text-align: left;
}
.footer-col{
    width: 25%;
    padding: 70px;
    
}
.fa{
    text-align: left;

}
.court{
    width: 50%;
    height: 100px;
}
.tie{
    background-color: blue;
    color: blueviolet;
}
.search-container{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
.letter{
    color: red;
    font-size: medium;
}
.touch{
    padding-top:10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.social{
    padding-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.newsletter{
    color:red;
    margin-top: 20px
}
.container{
    padding: 10px;
    background-color: #150a0a;
    width: 200px;
    height: 200px;
}
input[type=checkbox] {
    margin-top: 10px;
}

input[type=submit]:hover {
    opacity: 0.8;
}
.news{
    height: 30px;
    padding: 60px;
}
.sub{
    background-color: red;
    width: 135px;
    margin-top: 15px;
}
input[type=email]{
    margin-top: 10px;
}
.court{
    width: 1400px;
    height: 400px;
    padding-left: 500px;
    padding-bottom: 40px;
    
}
.steps{
    color: green;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 250px;
    margin-left: 30px;
    font-size: 30px;
}
.gym{
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: right;
    padding-bottom: 40px;
    width: 500px;
    word-spacing: 5px;
    line-height: 2em;
    
}
.about{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 20px;
    font-size: 50px;

}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    width: 500px;
    padding: 20px;
    float: right;
    line-height: 2em;
    margin-bottom: 20px;
    word-spacing: 5px;

}
.line{
    width: 22vw;
    margin-left: 75.5vw;
}

.future{
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 70px;
    font-size: 30px;
    margin-left: 30px;

}
.log{
    float: right;
    padding:5px;
    background-color: red;
    color: white;
    margin-top: 15px;
    border-radius: 10px;
    outline-style: double;
    margin-right: 7px;
}
.try{
    background-color: red;
    color: white;
    width: 50px;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    height: 30px;
    border-radius: 10px;
    outline-style: double;
}
.list4{
    text-align: center;
    word-spacing: 40px;
    padding-top: 10px;
}
.learn{
    float: right;
    padding:5px;
    background-color: red;
    color: white;
    margin-top: 10px;
    border-radius: 10px;
    outline-style:double;
    outline-color: #020202;
    margin-right: 5px;
}
.heat{
    width: 75px;
    height: 35px;
    background-color: #020202;
    text-align: center;
}
.player{
    background-color: red;
    border-radius: 10px;
    width: 90px;
    color: white;
    outline-color: white;
    outline-style: groove;
    text-align: center;
    height: 20px;
    margin-top: 10px;
}
.coach{
    color: white;
    border-radius: 10px;
    outline-color: white;
    background-color: rgb(2, 2, 255);
    outline-style: groove;
    text-align: center;
    width: 130px;
    height: 40px;
    margin-bottom: 18px;
}
.or{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;

}
.proceed{
    text-align: center;
}
.google{
    color: black;
    background-color: white;
}
.chief{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./images/gray.jpg);
}
.submit{
    color: white;
    outline-style: double;
    background-color: green;
    outline: black;
    width: 80px;
    border-radius: 10px;
    height: 30px;
    margin-top: 7px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.4s;
}
button.submit:hover {
    opacity: 0.9;
}
.welcome{
    text-align: center;
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1px;
}
.lock{
    margin-bottom: 10px;
    border-radius: 10px;
    color: lightgray;
    background-color: white;
    text-align: center;
    margin-top: 8px;
    height: 30px;
    width: 305px;
    background: lightgray;
    color: #333;
    letter-spacing: 0.5px;
    margin-right: 20px;
    cursor: pointer;
}
.user{
    border-radius: 10px;
    width: 305px;
    color: lightgray;
    background-color: white;
    text-align: center;
    height: 30px;
    background: lightgray;
    color: #333;
    letter-spacing: 0.5px;
    margin-right: 20px;
    cursor:pointer;
}
.user ~ i {
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    transition: color  0.4s;
}
.user:focus ~ i{
    color: green;
}
.lock:focus ~ i {
    color: green;
}
.lock ~ i {
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    transition: color 0.4s;
}
.main{
    display: flex;
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: url(./images/phone.jpg) width;
}
.dunk{
    width: 500px;
    height: 1700px;
}
.title{
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}
.credentials{
    font-size: 25px;
    text-align: center;
}
.unite{
    font-size: 25px;
    text-align: center;
}
.separator{
    width: 400px;
    height: 4px;
    background-color: black;
    margin: 15px;
    margin-left: 320px;

}
.login-form{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 335px;
}
input,
button{
    border: none;
    outline: none;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    font-size: 1.1rem;
}
.form-control{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
